<mat-dialog-content class="mat-typography">
        <div *ngIf="isVisible" class="container">
            <div class="row display-detail">
                <div class="row">
                    <div class="col-md-5">
                        <ng-container *ngIf="listImages.length == 0; else second">
                            <img class="product-big-img image-form" src="../../../../assets/product.jpg" alt="">
                        </ng-container>
                        <ng-template>
                            <img class="product-big-img image-form" src="this.listImages[0].url">
                        </ng-template>
                    </div>
                    <div class="col-md-6">
                        <div class="product-details">
                            <div class="pd-title">
                                <h2>{{ product.name }}</h2>
                                <a href="#" class="heart-icon"><i class="icon_heart_alt"></i></a>
                            </div>
                            <div class="pd-desc">
                                <p>{{ product.description }}</p>
                                <h4>{{ product.unitPrice | currency: 'VND'}}</h4>
                            </div>
                            <div class="pd-color">
                                <span class="font-color">Color:</span>
                                <div class="pd-size-choose">
                                    <mat-radio-group name="opColor" class="example-radio-group" [(ngModel)]="selectedSizeColor.idColor">
                                        <mat-radio-button name="opColor" class="example-radio-button"
                                            *ngFor="let item of listColors"
                                            [value]="item.id"
                                            (change)="colorChange($event)">
                                            {{ item.name }}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="pd-color">
                                <span class="font-color">Size:</span>
                                <div class="pd-size-choose">
                                    <mat-radio-group name="opSize" class="example-radio-group" [(ngModel)]="selectedSizeColor.idSize">
                                        <mat-radio-button name="opSize" class="example-radio-button"
                                            *ngFor="let item of listSizes"
                                            [value]="item.id"
                                            (change)="sizeChange($event)">
                                            {{ item.name }}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div *ngIf="selectedSizeColor.stock != null" class="pd-color">
                                <span class="font-color">Stock:</span>
                                <span>{{ selectedSizeColor.stock }}</span>
                            </div>
                            <div [ngClass]="{'my-disable': !isEnabled}" class="quantity">
                                <div class="pro-qty">
                                    <div class="quantity">
                                        <input class="input-quantity" (change)="changeQuantity()" type="number" [(ngModel)]="quantity" min="1" [max]="selectedSizeColor.stock">
                                    </div>
                                </div>
                               <button *ngIf="!isOpenByCart" (click)="addToCart()"  class="primary-btn pd-cart">Add To Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="product-tab">
                    <div class="tab-item">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" role="tab">SPECIFICATIONS</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-item-content">
                        <div class="tab-content">
                            <div class="specification-table">
                                <table>
                                    <tr>
                                        <td class="p-catagory">Total Buy</td>
                                        <td>
                                            <div class="p-price">{{ product.totalBuy }}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p-catagory">Category</td>
                                        <td>
                                            <div class="p-code">{{ product.category }}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p-catagory">Sku</td>
                                        <td>
                                            <div class="p-code">{{ product.sku }}</div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="product-tab">
                    <div class="tab-item">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" role="tab">SPECIFICATIONS</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-item-content">
                        <div class="tab-content">
                            <div class="specification-table">
                                <table>
                                    <tr>
                                        <td class="p-catagory">Total Buy</td>
                                        <td>
                                            <div class="p-price">{{ product.totalBuy }}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p-catagory">Category</td>
                                        <td>
                                            <div class="p-code">{{ product.category }}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p-catagory">Sku</td>
                                        <td>
                                            <div class="p-code">{{ product.sku }}</div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="product-tab">
                    <div class="tab-item">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" role="tab">SPECIFICATIONS</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-item-content">
                        <div class="tab-content">
                            <div class="specification-table">
                                <table>
                                    <tr>
                                        <td class="p-catagory">Total Buy</td>
                                        <td>
                                            <div class="p-price">{{ product.totalBuy }}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p-catagory">Category</td>
                                        <td>
                                            <div class="p-code">{{ product.category }}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p-catagory">Sku</td>
                                        <td>
                                            <div class="p-code">{{ product.sku }}</div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial class="btn btn-cancel">Back</button> 
    <button *ngIf="isOpenByCart" mat-button (click)="addToCart()" class="btn btn-add">Update</button>
</mat-dialog-actions>
