<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="login-form">
                    <h2>Forgot Your Password</h2>
                    <div>
                        Don't worry! Enter you email below and we'll send you a password reset code to reset your password
                    </div>
                    <br/>
                    <br/>
                    <form #form="ngForm" (ngSubmit)="sendResetPassword(form)">
                        <div class="group-input">
                            <label for="username">Email address</label>
                            <input [(ngModel)]="email" name="email" type="email" required>
                            <mat-error *ngIf="email?.touched && email?.invalid && email?.errors?.required">
                                Email is required
                            </mat-error>
                        </div>
                        <button type="submit" class="site-btn login-btn">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>