<div class="container">
    <div class="row">
      <!-- Search -->
      <div class="searchFilter searchFilter-center">
        <div class="input-group">
            <input id="table_filter" 
                [(ngModel)]="search" 
                #searchInput 
                type="text" 
                class="form-control input-search"> &nbsp;
            <div class="input-group-btn">
                <button name="searchBtn" 
                    type="button" 
                    class="btn btn-secondary btn-search"
                    (click)="searchEvent(searchInput.value)">
                    <fa class="icon-size" name="search"></fa>
                    <span class="label-icon">
                        &nbsp; Search
                    </span>
                </button>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
  
      <div class="button-add">
        <button 
        mat-raised-button 
        (click)="reloadOrder()"
        class="btn btn-secondary">Reload</button>
        &nbsp;
      </div>
          
      <table id="producttable" class="table table-striped table-hover table-sm ">
        <thead class="dt-header">
          <tr>
            <th></th>
            <th (click)="sortID()">ID
              <fa *ngIf="filter.sort == null" name="sort-down"></fa>
              <fa *ngIf="filter.sort == 'id:asc'" name="sort-up"></fa>
            </th>
            <th (click)="sortDateOrders()">Order
              <fa *ngIf="filter.sort == 'dateorder:desc'" name="sort-down"></fa>
              <fa *ngIf="filter.sort == 'dateorder:asc'" name="sort-up"></fa>
            </th>
            <th (click)="sortDateShip()">Ship
              <fa *ngIf="filter.sort == 'dateship:desc'" name="sort-down"></fa>
              <fa *ngIf="filter.sort == 'dateship:asc'" name="sort-up"></fa>
            </th>
            <th (click)="sortDatePayment()">Payment
              <fa *ngIf="filter.sort == 'datepayment:desc'" name="sort-down"></fa>
              <fa *ngIf="filter.sort == 'datepayment:asc'" name="sort-up"></fa>
            </th>
          <th>Cancel/Return</th>
          <th (click)="sortIdShipper()">Shipper
              <fa *ngIf="filter.sort == 'idshipper:desc'" name="sort-down"></fa>
              <fa *ngIf="filter.sort == 'idshipper:asc'" name="sort-up"></fa>
            </th>
          <th (click)="sortIdEmployee()">Employee
              <fa *ngIf="filter.sort == 'idemployee:desc'" name="sort-down"></fa>
              <fa *ngIf="filter.sort == 'idemployee:asc'" name="sort-up"></fa>
            </th>
            
            <th colspan="2">Action</th>
          </tr>
        </thead>
        <tbody class="table-body" *ngIf="ordersApprovalStore.totalData > 0">
          <tr *ngFor="let order of ordersApprovalStore.orders$ | async; index as i">
            <td>{{ i+1 }}</td>
            <td><a (click)="viewDetailOrder(order.id)">{{ order.id }}</a></td>
            <td><a>{{ order.dateOrder |  date: 'dd/MM/yyyy' }}</a></td>
            <td><a>{{ order.dateShip |  date: 'dd/MM/yyyy' }}</a></td>
            <td><a>{{ order.datePayment |  date: 'dd/MM/yyyy' }}</a></td> 
            <td><a>{{ order.dateCancel |  date: 'dd/MM/yyyy' }}</a></td>
            <td><a></a></td>
            <td>{{ order.idStaff }}-{{ order.staff }}</td>
    
            <td  (click)="viewDetailOrder(order.id)" type="button" class="btn btn-info button-action">View Detail</td>&nbsp;&nbsp;
            <button  type="button" class="btn btn-success button-action" (click)="pickUpOrder(order.id)">Pick Up </button>&nbsp;&nbsp;
            <!-- <button type="button" class="btn btn-danger button-action" (click)="cancelOrder(order.id)">Cancel</button> -->
          </tr>
        </tbody>
        <tbody *ngIf="ordersApprovalStore.totalData == 0">
          <tr>
            <td class="no-data" colspan="9">No data available in table</td>
          </tr>
        </tbody>
      </table>
      
    </div>
    <div class="pb-0 pt-3 paging-custom">
      <mat-paginator #paginator
        [length]="ordersApprovalStore.totalData"
        [(pageSize)]="filter.pagesize"
        [pageSizeOptions]="[5, 10, 15]"
        (page)="onPaginate($event)"
        showFirstLastButtons>
      </mat-paginator>
    </div>
</div>

