.column {
	float: left;
	padding: 10px;
	height: 125px;
  }
  
.right {
	width: 130px;
  }

  .left{
	width: 130px;
	border-right: 3px dotted gray;
  }
  
  .middle {
	width: 270px;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
	width: 100px;
  }

  .logo-img{
	width: 80px;
	object-fit: cover;
  }

  .voucher{
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
	height: 135px;
  }

  .review{
	height: 50px;
  }
  
  .img-product{
	float: left;
	height: 50px;
	width: 50px;
  }

  .info-product{
	float: left;
	height: 30px;
	width: 500px;
  }

  .using{
	color: blue;
	cursor: pointer;
  }
  * {
	box-sizing: border-box;
  }
  .custome-search-client {
    padding-bottom: 30px;
}

.div-reset {
    display: flex;
    justify-content: flex-end;
    padding: 2px;
    padding-right: 30px;
  }

  .ribbon-wrapper {
	width: 85px;
	height: 88px;
	overflow: hidden;
	position: absolute;
	top: -3px;
	left: -3px;
}
	.ribbon {
	  font: bold 15px sans-serif;
	  color: #333;
	  text-align: center;
	  -webkit-transform: rotate(-45deg);
	  -moz-transform:    rotate(-45deg);
	  -ms-transform:     rotate(-45deg);
	  -o-transform:      rotate(-45deg);
	  position: relative;
	  padding: 7px 0;
	  top: 15px;
	  left: -30px;
	  width: 120px;
	  background-color: #ff0004;
	  color: #fff;
	}

	.img-heart-2 {
		width: 58px;
		height: 58px;
	  }
	
  
  

carousel {
	z-index: 999;
}

.set-deal {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
	background-image: url("../../../../assets/img/time-bg.png");
}


.btn {
  color: #fff;
  cursor: pointer;
  
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
  
  @media(min-width: 600px) {  
    margin: 0 1em 2em;
  }
  
  /* &:hover { text-decoration: none; } */
  
}

