<section class="hero-section">
    <carousel 
        cellsToShow="1"
        loop="true"
        autoplay="true"
        autoplayInterval="4000"
        height="500"
        cellWidth="90%"
        [images]="images">
    </carousel>
</section>
<section class="product-shop spad page-details">
    <div style="text-align: center;"><h3><strong>List Voucher</strong> </h3></div>
    <div class="container">
        <div class="row">
            <div *ngFor="let promotion of promotionsStore.promotions$ | async">
                <div class="voucher" *ngIf = "promotion.state == 1">
                    <div class="column left" >
                        <img  src="assets/voucher-1.png" alt="" style="width:100px;;">
                    </div>
                    <div class="column middle" >
                        <h5 style="padding-bottom: 5px;"><strong>{{promotion.name}}</strong></h5>
                        <h6 style="padding-bottom: 5px;">{{promotion.description}}</h6>
                        <p style="color: red;">HSD: {{promotion.endDate |  date: 'dd/MM/yyyy'}}</p>
                    </div>
                    <div class="column right">
                          <h6 class="using" [routerLink]="['/products']">Shopping now</h6>
                        <br>
                        <br>
                        <p style="color: red;">Available</p>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div style="text-align: center;"><h3><strong>Products Sale</strong> </h3></div>
        <div class="product-list">
            <div class="row">
                <div class="col-lg-4 col-sm-6" *ngFor="let product of productsStore.products$ | async">
                    <div  class="product-item">
                        <div class="pi-pic">
                            <img class="image image-product" [routerLink]="['/product-detail', product.id]" [src]="product.imageUrl">
                            <ul>
                                <li (click)="addToCart(product)" class="quick-view"><a>ADD TO CART</a></li>
                                <li><button  class="btn-heart" *ngIf = "!product.isFavorite"><img  (click)="changeHeart(product,0)"  class="img-heart-2" src="assets/img/heart.jpg" alt=""></button></li>
                                <li><button  class="btn-heart" *ngIf = "product.isFavorite"><img  (click)="changeHeart(product,1)"  class="img-heart-2" src="assets/img/heart-2.jpg" alt=""></button></li>
                            </ul>
                            <div *ngIf="product.idPromotion" class="ribbon-wrapper">
                                <div class="ribbon">SALE</div>
                              </div>
                              <!-- <div class="icon">
                                 <a href="#" class="heart-icon"> <fa name="heart-o"></fa></a> 
                            </div> -->
                        </div>
                        <div [routerLink]="['/product-detail', product.id]" class="pi-text">
                            <div class="catagory-name">{{product.category}}</div>
                            <a href="#">
                                <h5>{{ product.name }}</h5>
                            </a>
                            <div class="product-price">
                                {{ product.pricePromotion | currency: 'VND' }} 
                                <span *ngIf="product.idPromotion">{{ product.unitPrice | currency: 'VND'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;">
                    <img *ngIf="productsStore.products.length == 0" class="image" src="assets/img/common/no-products-found.gif">
                </div>
            </div>
        </div>
    </div>
    
</section>
