<section class="hero-section">
    <!-- <img  src="assets/banner-summer-sale.png" alt="" style="width:100%;;"> -->
    <img  [src]="imgPromotionBanner" alt="" style="width:100%;;">
</section>
<section class="product-shop spad page-details" >
    <div style="text-align: center;margin:10px;">
        <h3><strong>List Voucher</strong></h3>
    </div>
    <div class="container" >
        <div class="row" >
            <div *ngFor="let promotion of lPromotion">
                <div class="voucher" *ngIf = "promotion.state == 3">
                    <div class="column left" >
                        <img  src="assets/voucher-1.png" alt="" style="width:100px;;">
                    </div>
                    <div class="column middle" >
                        <h5 style="padding-bottom: 5px;"><strong>CODE: {{promotion.name}}
                             <span style="color: white;background-color: rgb(34, 189, 34); border-radius: 10px;border-color: aliceblue;padding: 2px;margin: 2px;font-size: 12px;">Valid</span></strong>
                        </h5> 
                       
                        <h6>{{promotion.description}}</h6>
                        <p style="color: red; font-size: 13px;"><strong>Expires: {{promotion.startDate |  date: 'dd/MM/yyyy'}} - {{promotion.endDate |  date: 'dd/MM/yyyy'}}</strong></p>
                    </div>
                    <div class="column right">
                          <div  style="float: right;"><i style="font-size:36px;cursor: pointer" class="fa fa-shopping-cart" [routerLink]="['/products']"></i></div>
                    </div>
                    <br>
                </div>
            </div>
            
        </div>
        <div *ngIf = "countVoucher == 0" style="display: flex;justify-content: center;" class="row">
            <img  src="assets\paty.png" alt="" style="width:600px;height: auto;float: center;">
        </div>
    </div>
</section>
<section style="margin:10px;">
    <div  style="text-align: center;margin:10px;"><h3><strong>Promotions For You</strong> </h3></div>
    <div class="container">
        <div class="row">
            <div *ngFor="let promotion of promotionsStore.promotions$ | async">
                <div *ngIf = "promotion.state == 2" style="margin:20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);">
                    <div style="width:500px;height: 250px;">
                        <img  [src]="promotion.image" alt="" style="width:500px;height: 250px;">
                        <br>
                    </div>
                    <h4 style="margin: 10px;text-align: center;"><b>{{promotion.name}}</b></h4>
                    <h6 style="margin: 5px;text-align: center;">{{promotion.description}}</h6>
                    <p style="color: red; margin: 5px;text-align: center;"><strong> Expires: {{promotion.startDate |  date: 'dd/MM/yyyy'}} - {{promotion.endDate |  date: 'dd/MM/yyyy'}}</strong></p>
                </div>
            </div>
        </div>
        <div *ngIf = "countPromotion == 0" style="display: flex;justify-content: center;" class="row">
            <img  src="assets\not-found-promotion.png" alt="" style="width:600px;height: auto;float: center;">
        </div>
    </div>
</section>

<!-- <section>
    <div class="container">
        <div style="text-align: center;"><h3><strong>Products Sale</strong> </h3></div>
        <div class="product-list">
            <div class="row">
                <div class="col-lg-4 col-sm-6" *ngFor="let product of productsStore.products$ | async">
                    <div  class="product-item">
                        <div class="pi-pic">
                            <img class="image image-product" [routerLink]="['/product-detail', product.id]" [src]="product.imageUrl">
                            <ul>
                                <li (click)="addToCart(product)" class="quick-view"><a>ADD TO CART</a></li>
                                <li><button  class="btn-heart" *ngIf = "!product.isFavorite"><img  (click)="changeHeart(product,0)"  class="img-heart-2" src="assets/img/heart.jpg" alt=""></button></li>
                                <li><button  class="btn-heart" *ngIf = "product.isFavorite"><img  (click)="changeHeart(product,1)"  class="img-heart-2" src="assets/img/heart-2.jpg" alt=""></button></li>
                            </ul>
                            <div *ngIf="product.idPromotion" class="ribbon-wrapper">
                                <div class="ribbon">SALE</div>
                              </div>
                        </div>
                        <div [routerLink]="['/product-detail', product.id]" class="pi-text">
                            <div class="catagory-name">{{product.category}}</div>
                            <a href="#">
                                <h5>{{ product.name }}</h5>
                            </a>
                            <div class="product-price">
                                {{ product.pricePromotion | currency: 'VND' }} 
                                <span *ngIf="product.idPromotion">{{ product.unitPrice | currency: 'VND'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;">
                    <img *ngIf="productsStore.products.length == 0" class="image" src="assets/img/common/no-products-found.gif">
                </div>
            </div>
        </div>
    </div>
    
</section> -->
