
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div *ngIf="promotionsStore.promotions.length > 0" class="order-table">
                <table>
                    <tbody>
                        <tr class="tr-delivery" *ngFor="let item of promotionsStore.promotions$  | async; index as i">
                            <td>{{ i+1 }}</td>
                            <td class="cart-title first-row">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h5 class="name-item">{{ item.name }}</h5>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-8 stock">
                                        {{ description }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-8 stock">
                                        {{ item.startDate }} - {{ item.endDate }}
                                    </div>
                                </div>
                            </td>
                            <td class="close-td first-row">{{ item.value * 100 }}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>