<div class="container">
    <div class="row">
      <app-search-product 
        (search-event)="searchEvent($event)">
      </app-search-product>
    </div>
    <div class="row">
      
      <div class="button-add">
        <button 
        mat-raised-button 
        (click)="reloadProduct()"
        class="btn btn-secondary">Reload</button>
        &nbsp;
        <button 
        mat-raised-button 
        (click)="addProduct()"
        class="btn btn-primary btn-add">Add Product</button>
        &nbsp;
        <button (click)="exportAsXLSX()">
          <i class="fa fa-file-excel-o" style="font-size:48px;color:blue"></i></button>
          &nbsp;
          <div class="tools">
            <button>
              <label>
                <span class="mdi mdi-file-export"> </span>
                <small>Import</small>
                <input hidden type="file" (change)="onFileChange($event)" multiple="false">
              </label>
            </button>
          </div>
      </div>
          
      <table id="producttable" class="table table-striped table-hover table-sm ">
        <thead class="dt-header">
          <tr>
            <th (click)="sortID()">ID
              <fa *ngIf="filter.sort == null" name="sort-down"></fa>
              <fa *ngIf="filter.sort == 'id:asc'" name="sort-up"></fa>
            </th>
            <th (click)="sortSKU()">SKU
              <fa *ngIf="filter.sort == 'sku:desc'" name="sort-down"></fa>
              <fa *ngIf="filter.sort == 'sku:asc'" name="sort-up"></fa>
            </th>
            <th (click)="sortName()">Name
              <fa *ngIf="filter.sort == 'name:desc'" name="sort-down"></fa>
              <fa *ngIf="filter.sort == 'name:asc'" name="sort-up"></fa>
            </th>
            <th (click)="sortTotalBuy()">Total Buy
              <fa *ngIf="filter.sort == 'totalbuy:desc'" name="sort-down"></fa>
              <fa *ngIf="filter.sort == 'totalbuy:asc'" name="sort-up"></fa>
            </th>
            <th (click)="sortPrice()">Price
              <fa *ngIf="filter.sort == 'price:desc'" name="sort-down"></fa>
              <fa *ngIf="filter.sort == 'price:asc'" name="sort-up"></fa>
            </th>
            <th colspan="2">Action</th>
          </tr>
        </thead>
        <tbody class="table-body" *ngIf="productsStore.totalData > 0">
          <tr *ngFor="let product of productsStore.products$ | async">
            <td>{{ product.id }}</td>
            <td>{{ product.sku }}</td>
            <td><a [routerLink]="['/admin/products', product.id]">{{ product.name }}</a></td>
            <td>{{ product.totalBuy }}</td>
            <!-- <td>{{ product.createdDate |  date: 'dd/MM/yyyy' }}</td> -->
            <td>{{ product.unitPrice |  currency: 'VND' }}</td>
            <td (click)="editProduct(product.id)"><fa class="edit-icon" name="edit"></fa></td>
            <td (click)="deleteProduct(product.id)"><fa class="delete-icon" name="trash"></fa></td>
          </tr>
        </tbody>
        <tbody *ngIf="productsStore.totalData == 0">
          <tr>
            <td class="no-data" colspan="6">No data available in table</td>
          </tr>
        </tbody>
      </table>
      
    </div>
    <div class="pb-0 pt-3 paging-custom">
      <mat-paginator #paginator
        [length]="productsStore.totalData"
        [(pageSize)]="filter.pagesize"
        [pageSizeOptions]="[5, 10, 15]"
        (page)="onPaginate($event)"
        showFirstLastButtons>
      </mat-paginator>
    </div>
    <div>
      <table>
        <tbody>
          <tr *ngFor="let row of data">
                <td *ngFor="let cell of row">
                    {{cell}}
                </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

