.title-item {
  text-align: end;
  font-weight: bold;
}

.card-title {
  border-bottom: solid gainsboro 1px;
  padding: 5px;
}

@media (max-width: 768px) {
  .title-item {
      text-align: left;
  }
}