.img-right {
    text-align: right;
}

.image-list {
  background-color: gainsboro;
  margin-top: 10px;
  padding: 5px;
}
.btn-add {
    background-color: #0093c9;
    color: #fff;
    border: 1px solid #0093c9;
    margin-left: 14px;
    font-size: 13px;
  }
   .btn-add:hover {
    background-color: #b3ebff;
    color: #000;
    border: 1px solid #b3ebff;
  }

  .button-add {
    display: flex;
    justify-content: flex-end;
    padding: 4px;
  }

  .edit-icon {
    color: mediumpurple
  }
  
  .delete-icon {
    color:salmon
  }