<mat-dialog-content class="mat-typography">
    <div class="container" *ngIf="isVisible">
        <div class="row">
            <div class="col-md-12">
                <h3>Order <strong>#{{ order.id }}</strong></h3>
                <div *ngIf="order.dateOrder" class="row">
                    <div class="col-md-3 title-item">
                        Date Order:
                    </div>
                    <div class="col-md-8">
                        {{ order.dateOrder | date: 'dd/MM/yyyy' }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 title-item">
                        Date Payment:
                    </div>
                    <div *ngIf="order.datePayment" class="col-md-8">
                        {{ order.datePayment | date: 'dd/MM/yyyy' }}
                    </div>
                    <div *ngIf="!order.datePayment" class="col-md-8">
                        N/A
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 title-item">
                        Date Ship:
                    </div>
                    <div *ngIf="order.dateShip" class="col-md-8">
                        {{ order.dateShip | date: 'dd/MM/yyyy' }}
                    </div>
                    <div *ngIf="!order.dateShip" class="col-md-8">
                        N/A
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 title-item">
                        Customer:
                    </div>
                    <div *ngIf="customer" class="col-md-8">
                        {{ customer }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 title-item">
                        Address:
                    </div>
                    <div *ngIf="address" class="col-md-8">
                        {{ address }} 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 title-item">
                        Fee Delivery:
                    </div>
                    <div class="col-md-8">
                        {{ order.feeDelivery | currency: 'VND'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 title-item">
                        Total Quantity:
                    </div>
                    <div *ngIf="order.totalQuantity" class="col-md-8">
                        {{ order.totalQuantity }} items
                    </div>
                </div>
                <div *ngIf="promotion" class="row">
                    <div class="col-md-3 title-item">
                        Promotion:
                    </div>
                    <div class="col-md-8">
                        {{ promotion }} 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 title-item">
                        Total Amount:
                    </div>
                    <div *ngIf="order.totalAmount" class="col-md-8">
                        {{ order.totalAmount | currency: 'VND'}}
                    </div>
                </div>
                <div *ngIf="shipper" class="row">
                    <div class="col-md-3 title-item">
                        Shipper:
                    </div>
                    <div class="col-md-8">
                        {{ shipper }} 
                    </div>
                </div>
                <div *ngIf="employee" class="row">
                    <div class="col-md-3 title-item">
                        Employee:
                    </div>
                    <div class="col-md-8">
                        {{ employee }} 
                    </div>
                </div>
            </div>
        </div>
        
        <br/>
        <div class="form-group custom-form">
            <table id="producttable" class="table table-striped table-hover table-sm ">
                <thead class="dt-header">
                    <tr>
                        <th></th>
                        <th>Name Product</th>
                        <th>Size</th>
                        <th>Color</th>
                        <th>Unit Price</th>
                        <th>Promotion Price</th>
                        <th>Quantity</th> 
                    </tr> 
                </thead>
                <tbody class="table-body">
                    <tr *ngFor="let item of orderDetailStore.orderdetails$ | async; index as i">
                        <td>{{ i+1 }}</td>
                        <td>{{ item?.product }}</td>
                        <td>{{ item.size }}</td>
                        <td>{{ item.color }}</td>
                        <td>{{ item.unitPrice }}</td>
                        <td>{{ item.pricePromotion }}</td>
                        <td>{{ item.quantity }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial class="btn btn-secondary">Exit</button> &nbsp;
</mat-dialog-actions>