/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.required {
    color: tomato;
}

.center {
    text-align: center;
}

.btn-add {
    background-color: #0093c9 !important;
    color: #fff !important;
    border: 1px solid #0093c9;
    margin-left: 14px;
    font-size: 13px;
  }
   .btn-add:hover {
    background-color: #b3ebff;
    color: #000;
    border: 1px solid #b3ebff;
  }

.upload{
    font-weight:bold;
    color:#28a745;
    margin-left: 10px;
    line-height: 36px;
}

.image {
    max-width: 50%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
