<form [formGroup]="form" (ngSubmit)="changePassword(form)" class="form-horizontal">
    <fieldset class="fieldset">
        <h3 class="fieldset-title">Profile</h3>
        <div class="form-group">
            <label class="col-md-10 col-sm-9 col-xs-12 control-label">Old Password <strong class="required">*</strong></label>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <div class="pwd">
                    <input #oldPassword [type]="oldPasswordVisibility ? 'text' : 'password'" class="form-control" formControlName="oldPassword">
                    <span class="p-viewer"><fa (click)="oldPasswordVisibility = !oldPasswordVisibility" [name]="oldPasswordVisibility ? 'eye' : 'eye-slash'"></fa></span>
                </div>
                <mat-error
                    *ngIf="form.get('oldPassword')?.touched && form.get('oldPassword')?.invalid
                    && form.get('oldPassword').errors?.required">
                    Old password is required
                </mat-error>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-10 col-sm-9 col-xs-12 control-label">New Password <strong class="required">*</strong></label>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <div class="pwd">
                    <input #newPassword [type]="newPasswordVisibility ? 'text' : 'password'" class="form-control" formControlName="newPassword" (input)="matchPassword($event.target.value, confirmPassword.value)">
                    <span class="p-viewer"><fa (click)="newPasswordVisibility = !newPasswordVisibility" [name]="newPasswordVisibility ? 'eye' : 'eye-slash'"></fa></span>
                </div>
                <mat-error
                    *ngIf="form.get('newPassword')?.touched && form.get('newPassword').errors?.invalidPassword">
                    {{ form.get('newPassword').errors?.invalidPassword.message }}
                </mat-error>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-10 col-sm-9 col-xs-12 control-label">Confirm Password <strong class="required">*</strong></label>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <div class="pwd">
                    <input #confirmPassword [type]="confirmPasswordVisibility ? 'text' : 'password'" class="form-control" formControlName="confirmPassword"
                    (input)="matchPassword(newPassword.value, $event.target.value)">
                    <span class="p-viewer"><fa (click)="confirmPasswordVisibility = !confirmPassworddVisibility" [name]="confirmPasswordVisibility ? 'eye' : 'eye-slash'"></fa></span>
                </div>
                <mat-error *ngIf="form.get('confirmPassword')?.touched 
                    && form.get('confirmPassword')?.invalid
                    && form.get('confirmPassword').errors?.required">
                    Confirm password is required
                </mat-error>
                <mat-error *ngIf="!form.get('confirmPassword').errors?.required && !isMatchPassword">
                    New password and Confirm password must be matched
                </mat-error>
            </div>
        </div>
    </fieldset>
    <hr>
    <div class="form-group">
        <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
            <input class="primary-btn" type="submit" value="Change Password">
        </div>
    </div>
</form>
