<div class="container">
    <div class="inner-header">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <div class="logo">
                    <a [routerLink]="['/']">
                        <img src="assets/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="advanced-search">
                    <div class="input-group">
                        <input type="text" placeholder="What do you need?">
                        <button type="button">
                            <fa name="search"></fa>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-right col-md-3">
                <ul class="nav-right">
                    <li class="cart-icon">
                        <a href="#">
                            <fa name="shopping-cart"></fa>
                            <!-- <span>3</span> -->
                        </a>
                        <div class="cart-hover">
                            <div class="select-items">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="si-pic"><img src="assets/product.jpg" alt=""></td>
                                            <td class="si-text">
                                                <div class="product-selected">
                                                    <p>$60.00 x 1</p>
                                                    <h6>Kabino Bedside Table</h6>
                                                </div>
                                            </td>
                                            <td class="si-close">
                                                <i class="ti-close"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="si-pic"><img src="assets/product.jpg" alt=""></td>
                                            <td class="si-text">
                                                <div class="product-selected">
                                                    <p>$60.00 x 1</p>
                                                    <h6>Kabino Bedside Table</h6>
                                                </div>
                                            </td>
                                            <td class="si-close">
                                                <i class="ti-close"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="select-total">
                                <span>total:</span>
                                <h5>$120.00</h5>
                            </div>
                            <div class="select-button">
                                <a href="#" class="primary-btn view-card">VIEW CARD</a>
                                <a href="#" class="primary-btn checkout-btn">CHECK OUT</a>
                            </div>
                        </div>
                    </li>
                    <li *ngIf="authService.isLoggedIn()" (click)="clickUserInformation()" class="cart-icon">
                        <button class="btn">Hi, {{ authService.getCurrentUser().firstNameUser }}!</button>
                    </li>
                    <div *ngIf="isUserInformation" class="dropdown-menu dropdown-menu-right shadow animated--grow-in show" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">
                            <fa class="mr-2 text-gray-400" name="user" size="sm"></fa>
                            Profile
                        </a>
                        <button *ngIf="authService.getCurrentUser().idTypeAccount != 4" class="dropdown-item" [routerLink]="['/admin']">
                            <fa class="mr-2 text-gray-400" name="sitemap" size="sm"></fa>
                            Admin
                        </button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item" (click)="logout()">
                            <fa class="mr-2 text-gray-400" name="sign-out" size="sm"></fa>
                            Logout
                        </button>
                    </div>
                    <li class="cart-icon" *ngIf = "!authService.isLoggedIn()" >
                        <button class="btn" [routerLink]="['/login']">
                            <fa name="user"></fa> Login
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>