################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/finalproject/v16/.suo
*.suo
*.user
_ReSharper.*
bin
obj
clothing-shop-website/clothing-shop-website/obj/Debug/netcoreapp3.1/clothing-shop-website.csprojAssemblyReference.cache
