<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a [routerLink]="['']"><i class="fa fa-home"></i> Home</a>
                    <a [routerLink]="['/products']">Product</a>
                    <span>Detail</span>
                </div>
            </div>
        </div>
    </div>
</div>

<section *ngIf="isVisible" class="product-shop spad page-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-pic-zoom">
                    <ng-container *ngIf="listImages.length == 0; else second">
                        <img class="product-big-img image img-main" src="assets/product.jpg" alt="">
                    </ng-container>
                    <ng-template #second>
                        <img class="product-big-img image img-main" [src]="imageMain">
                    </ng-template>
                </div>
                <carousel 
                    [cellsToShow]="3"
                    [cellsToScroll]="1"
                    [overflowCellsLimit]="4">
                    <div class="carousel-cell product-item" *ngFor="let image of listImages">
                        <img class="image image-carousel" (click)="clickImage(image)" [src]="image.url">
                    </div>                      
                </carousel>
            </div>
            <div class="col-lg-6">
                <div class="product-details">
                    <div class="pd-title">
                        <span>{{ product.category}}</span>
                        <h3>{{ product.name }}</h3>
                    </div>
                    <div class="pd-rating" >
                        <ul>
                            <li class="at-rating" *ngFor="let i of arr;let in=index" (click)="onClickItem(in)">
                                <i *ngIf="i > product.avgRating" class="fa fa-star-o"></i>
                                <i *ngIf="i <= product.avgRating" class="fa fa-star"></i>
                            </li>
                            <span> ({{listReviews.length}} reviews)</span>
                        </ul>
                        
                    </div>
                    
                    <div class="pd-desc">
                        <p>{{ product.description }}</p>
                        <h4>{{ product.pricePromotion | currency: 'VND'}} <span *ngIf="product.idPromotion">{{ product.unitPrice | currency: 'VND'}}</span></h4>
                    </div>
                    <h6 class="title-item">Color:</h6>
                    <div class="pd-color">
                        <div class="pd-size-choose">
                            <mat-radio-group class="example-radio-group">
                                <mat-radio-button class="example-radio-button"
                                    *ngFor="let item of listColors"
                                    [value]="item.id"
                                    (change)="colorChange($event)">
                                    {{ item.name }}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <h6 class="title-item">Size:</h6>
                    <div class="pd-color">
                        <div class="pd-size-choose">
                            <mat-radio-group class="example-radio-group">
                                <mat-radio-button class="example-radio-button"
                                    *ngFor="let item of listSizes"
                                    [value]="item.id"
                                    (change)="sizeChange($event)">
                                    {{ item.name }}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <h4 class="badge-out" *ngIf="outOfStock"><span class="badge badge-warning">Out of stock</span></h4>
                    <div *ngIf="selectedSizeColor.stock != null" class="pd-color">
                        <h6>Stock:</h6> 
                        <span>{{ selectedSizeColor.stock }}</span>
                    </div>
                    <div class="product__details__button">
                        <div class="quantity">
                            <div class="pro-qty">
                                <div class="quantity">
                                    <input class="input-quantity" type="number" [(ngModel)]="quantity" min="1" [max]="selectedSizeColor.stock">
                                </div>
                            </div>
                            <button (click)="addToCart()" class="primary-btn pd-cart">Add To Cart</button>&nbsp;&nbsp;
                            <button class="btn-heart" *ngIf = "!product.isFavorite"><i (click)="changeHeart()" class="fa fa-heart-o heart-icon" aria-hidden="true"></i></button>
                            <button class="btn-heart" *ngIf = "product.isFavorite"><i (click)="changeHeart()" class="fa fa-heart heart-icon" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-tab">
                <div class="tab-item">
                    <ul class="nav" role="tablist">
                        <li>
                            <a  class="active" data-toggle="tab"  data-target="#tab1" role="tab">SPECIFICATIONS</a>
                        </li>
                        <!-- <li>
                            <a data-toggle="tab"  data-target="#tab2" role="tab">REVIEW(2)</a>
                        </li> -->
                    </ul>
                </div>
                <div class="tab-item-content">
                    <div class="tab-content">
                        <div class="tab-pane fade-in active" id="tab1" role="tabpanel">
                            <div class="specification-table">
                                <table>
                                    <tr>
                                        <td class="p-catagory">Total Buy</td>
                                        <td>
                                            <div class="p-price">{{ product.totalBuy }}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p-catagory">Category</td>
                                        <td>
                                            <div class="p-code">{{ product.category }}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p-catagory">Sku</td>
                                        <td>
                                            <div class="p-code">{{ product.sku }}</div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade-in active" id="tab2" role="tabpanel">
                            <div class="customer-review-option">
                                <h4> {{ listReviews.length }} Reviews</h4>
                                <div class="comment-option" *ngFor="let review of listReviews">
                                    <div class="co-item">
                                        <div class="avatar-pic">
                                            <img *ngIf="!review.image" src="assets/img/profile-default.png" alt="">
                                            <img *ngIf="review.image" [src]="review.image" alt="">
                                        </div>
                                        <div class="avatar-text">
                                            <h5>{{ review.firstName}} {{ review.lastName }}<span>{{ review.date | date: 'dd/MM/yyyy' }}</span></h5>
                                            <div>
                                                <ul>
                                                    <li class="at-rating" *ngFor="let i of arr;let in=index" (click)="onClickItem(in)">
                                                        <i *ngIf="i > review.rating" class="fa fa-star-o"></i>
                                                        <i *ngIf="i <= review.rating " class="fa fa-star"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="at-reply">{{ review.comment }}</div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>