<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a [routerLink]="['']"><i class="fa fa-home"></i> Home</a>
                    <a [routerLink]="['/products']">Product</a>
                    <span>Detail</span>
                </div>
            </div>
        </div>
    </div>
</div>

<section *ngIf="isVisible" class="product-shop spad page-details">
    <div class="container">
        <div class="row display-detail">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-pic-zoom">
                        <ng-container *ngIf="listImages.length == 0; else second">
                            <img class="product-big-img image image-product" src="assets/product.jpg" alt="">
                        </ng-container>
                        <ng-template #second>
                            <img class="product-big-img image image-product" [src]="imageMain">
                        </ng-template>
                        
                    </div>
                    <carousel 
                        [cellsToShow]="3"
                        [cellsToScroll]="1"
                        [overflowCellsLimit]="4">
                        <div class="carousel-cell product-item" *ngFor="let image of listImages">
                            <img class="image image-carousel" (click)="clickImage(image)" [src]="image.url">
                        </div>                      
                    </carousel>
                </div>
                <div class="col-lg-6">
                    <div class="product-details">
                        <div class="pd-title">
                            <h3>{{ product.name }}</h3>
                            <a href="#" class="heart-icon"><i class="icon_heart_alt"></i></a>
                            <i class="ion-heart"></i>
                        </div>
                        <div class="pd-desc">
                            <p>{{ product.description }}</p>
                            <h4>{{ product.pricePromotion | currency: 'VND'}}</h4>
                            <h6 *ngIf="product.idPromotion"><del>{{ product.unitPrice | currency: 'VND'}}</del></h6>
                        </div>
                        <div class="pd-color">
                            <h6>Color:</h6>
                            <div class="pd-size-choose">
                                <mat-radio-group class="example-radio-group">
                                    <mat-radio-button class="example-radio-button"
                                        *ngFor="let item of listColors"
                                        [value]="item.id"
                                        (change)="colorChange($event)">
                                        {{ item.name }}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="pd-color">
                            <h6>Size:</h6>
                            <div class="pd-size-choose">
                                <mat-radio-group class="example-radio-group">
                                    <mat-radio-button class="example-radio-button"
                                        *ngFor="let item of listSizes"
                                        [value]="item.id"
                                        (change)="sizeChange($event)">
                                        {{ item.name }}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <h4 class="badge-out" *ngIf="outOfStock"><span class="badge badge-warning">Out of stock</span></h4>
                        <div *ngIf="selectedSizeColor.stock != null" class="pd-color">
                            <h6>Stock:</h6> 
                            <span>{{ selectedSizeColor.stock }}</span>
                        </div>
                        <div class="product__details__button">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <div class="quantity">
                                        <input class="input-quantity" type="number" [(ngModel)]="quantity" min="1" [max]="selectedSizeColor.stock">
                                    </div>
                                </div>
                            <button (click)="addToCart()" class="primary-btn pd-cart">Add To Cart</button>&nbsp;&nbsp;
                            <button class="btn-heart" *ngIf = "!product.isFavorite"><img  (click)="changeHeart()"  class="img-heart-2" src="assets/img/heart.jpg" alt=""></button>
                            <button class="btn-heart" *ngIf = "product.isFavorite"><img  (click)="changeHeart()"  class="img-heart-2" src="assets/img/heart-2.jpg" alt=""></button>
                            </div>
                            <ul>
                                <li><a href="#"><span></span></a></li>
                                <li><a href="#"><span class="icon_adjust-horiz"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-tab">
                <div class="tab-item">
                    <ul class="nav" role="tablist">
                        <li>
                            <a class="active" role="tab">SPECIFICATIONS</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-item-content">
                    <div class="tab-content">
                        <div class="specification-table">
                            <table>
                                <tr>
                                    <td class="p-catagory">Total Buy</td>
                                    <td>
                                        <div class="p-price">{{ product.totalBuy }}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-catagory">Category</td>
                                    <td>
                                        <div class="p-code">{{ product.category }}</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-catagory">Sku</td>
                                    <td>
                                        <div class="p-code">{{ product.sku }}</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>