<div class="container">
  <div class="row">
    <!-- Search -->
  </div>
  <br>
  <div class="row center">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Processing">
        <app-orders-process></app-orders-process>
      </mat-tab>
      <mat-tab label="Approval">
        <app-orders-approval></app-orders-approval>
      </mat-tab>
      <mat-tab label="Delivery">
        <app-orders-delivery-list></app-orders-delivery-list>
      </mat-tab>
      <mat-tab label="Completed">
        <app-orders-completed-list></app-orders-completed-list>
      </mat-tab>
      <mat-tab label="Cancelled">
        <app-orders-cancelled-list></app-orders-cancelled-list>
      </mat-tab>
      <mat-tab label="Return Refund">
        <app-orders-return-list></app-orders-return-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>