<div class="container">
  <div class="row">
    <!-- Search -->
  </div>
  <br>
  <div class="row center">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Processing">
        <app-orders-process (cancel-event)="cancelledEvent()"></app-orders-process>
      </mat-tab>
      <mat-tab label="Approval">
        <app-orders-approval></app-orders-approval>
      </mat-tab>
      <mat-tab label="Delivery">
        <app-orders-delivery></app-orders-delivery>
      </mat-tab>
      <mat-tab label="Completed">
        <app-orders-completed></app-orders-completed>
      </mat-tab>
      <mat-tab label="Cancelled">
        <app-orders-cancelled [cancelledListEvent]="isCancelledEvent"></app-orders-cancelled>
      </mat-tab>
      <mat-tab label="Return Refund">
        <app-orders-return></app-orders-return>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>