<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href="./home.html"><i class="fa fa-home"></i> Home</a>
                    <a href="./shop.html">Shop</a>
                    <span>Shopping Cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->
<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cart-table">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th class="p-name">Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th><fa name="close"></fa></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of cartsStore.carts$ | async; index as i">
                                <td>{{ i+1 }}</td>
                                <td class="cart-title first-row">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h5 class="name-item">{{ item.nameProduct }}</h5>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="div-color-size edit" role="button" tabindex="0">
                                                <div>
                                                    <span class="span-size">{{ item.nameSize }}</span>/<span class="span-size">{{ item.nameColor }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 stock">
                                            Stock: {{ item.stock }}
                                        </div>
                                    </div>
                                </td>
                                <td class="p-price first-row">{{ item.unitPrice  | currency: 'VND'}}</td>
                                <td class="qua-col first-row">
                                    <div class="quantity">
                                        <input class="input-quantity" (change)="changeQuantity($event.target.value, item)" type="number" [(ngModel)]="item.quantity" min="1" [max]="item.stock">
                                    </div>
                                </td>
                                <td class="total-price first-row">{{ item.unitPrice * item.quantity | currency: 'VND'}}</td>
                                <td class="close-td first-row"><fa name="close" (click)="removeItem(item, i)"></fa></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-4 offset-lg-4">
                        <div class="proceed-checkout">
                            <ul>
                                <li class="cart-total">Total <span>{{ totalPrice | currency: 'VND'}}</span></li>
                            </ul>
                            <a href="#" class="proceed-btn">PROCEED TO CHECK OUT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->