<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a href=""><i class="fa fa-home"></i> Home</a>
                    <a href="/shopping-cart">Shopping Cart</a>
                    <span>Check Out</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->

<!-- Shopping Cart Section Begin -->
<section class="checkout-section spad">
    <div class="container">
        <form class="checkout-form">
            <div class="row">
                <div class="col-lg-6">
                    <h4>Delivery Address</h4>
                    <div class="row">
                        <app-delivery-address (selected-delivery)="selectedDeliveryAddress($event)"></app-delivery-address>
                    </div>
                    <div class="row"></div>
                </div>
                <div class="col-lg-6">
                    <div class="place-order">
                        <h4>Your Order</h4>
                        <div class="order-total">
                            <ul class="order-table">
                                <li>Product <span>Total</span></li>
                                <li *ngFor="let item of cartsStore.carts$ | async" class="fw-normal">
                                    {{ item.nameProduct }} x {{ item.quantity }} ({{ item.nameSize }}/{{ item.nameColor }})
                                    <span>{{ item.quantity * item.pricePromotion | currency:'VND' }}</span>&nbsp;&nbsp;
                                    <span *ngIf="item.pricePromotion !== item.unitPrice"><del>{{ item.quantity * item.unitPrice | currency:'VND' }}</del></span>&nbsp;&nbsp;
                                </li>
                                <li class="total-price">SUBTOTAL<span>{{ subTotalPrice | currency: 'VND'}}</span></li>
                                <li class="total-price">DISCOUNT<span>- {{ discount | currency: 'VND'}}</span></li>
                                <li class="total-price">TOTAL<span>{{ totalPrice | currency: 'VND'}}</span></li>
                            </ul>
                            <div>Promotion:</div>
                            <mat-form-field>
                                <mat-select [(ngModel)]="promotion" name="promotions">
                                    <mat-option (click)="selectedPromotion()" [value]="null">None</mat-option>
                                    <mat-option (click)="selectedPromotion()"
                                        *ngFor="let promotion of listPromotion" [value]="promotion">
                                        {{promotion.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!-- <div class="payment-check">
                                <div class="pc-item">
                                    <label for="pc-check">
                                        Note <strong class="required">*</strong>: Payment after delivery
                                    </label>
                                </div>
                                <div class="pc-item">
                                    <mat-radio-button ></mat-radio-button>
                                    <mat-radio-button (change)="selectedDeliveryAddress(item.id)" [value]="item.id" [checked]="i === 0"></mat-radio-button>
                                    <label for="pc-paypal">
                                        Paypal
                                        <input type="checkbox" id="pc-paypal">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div> -->
                            <div>Payment:</div>
                            <br/>
                            <div class="pc-item">
                                <mat-radio-group name="optPayment" [(ngModel)]="paymentChecked">
                                    <mat-radio-button name="optPayment" [value]="0">Cash on delivery (COD)</mat-radio-button><br/>
                                    <mat-radio-button name="optPayment" [value]="1">Online payment</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <br/>
                            <div class="order-btn">
                                <button type="submit" (click)="order()" class="site-btn place-btn">Place Order</button>

                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Shopping Cart Section End -->