<div class="container">
    <div class="row content-center verify-form">
        <div class="col-lg-6">
            <p>
                Enter the code we just send on your email {{ account.email }}
            </p>
            <br/>
            <input [(ngModel)]="code" type="number" required/>
            <mat-error *ngIf="code?.touched && code?.error?.required">
                Verify code is required
            </mat-error>
            &nbsp; &nbsp; &nbsp;
            <button (click)="clickVerify()" class="primary-btn">Verify</button>
            <div class="required">{{ messageError }}</div>
            <p>
                <a class="required" (click)="clickResendCode()"><strong>Click here</strong></a> if you did not receive an email.
            </p>
            
        </div>
    </div>
</div>