<h2 *ngIf="this.data.typeform === 0" mat-dialog-title>Add Satff</h2>
<h2 *ngIf="this.data.typeform === 1" mat-dialog-title>Edit Staff <strong>#{{ data.product.id }}</strong></h2>
<mat-dialog-content class="mat-typography">
    <div class="row detail-center">   
        <div class="col-lg-6">
                    <!-- <figure class="figure col-md-2 col-sm-3 col-xs-12"> -->
                    <div class="row">   
                        <img *ngIf="imageUrl == null" class="img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                        <img *ngIf="imageUrl != null" class="img-responsive" [src]="imageUrl" alt="">
                    </div> 
                    <!-- </figure> -->
                    <!-- <div class="form-inline col-md-10 col-sm-9 col-xs-12"> -->
                        <br>
                    <div class="row">  
                        <input type="file" #file (change)="uploadFile(file.files)" class="file-uploader pull-left" style="display:none;">
                        <button type="submit" (click)="file.click()" class="btn-small primary-btn">Update Image</button>
                    </div>     
                    <!-- </div> -->
                <!-- </div> -->
        </div>
        
        <div class="col-lg-6">         
            <div class="row">
                <div class="col-12">
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input [(ngModel)]="data.staff.email" #email ="ngModel" matInput type="text" required>
                        <mat-error class="error-required" *ngIf="email.touched && email.invalid && email.errors?.required">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div> 
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input [(ngModel)]="data.staff.lastName" #lastName ="ngModel" matInput type="text" matInput type="text" >
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input [(ngModel)]="data.staff.firstName" #firstName ="ngModel" matInput type="text"  matInput type="text" required>
                        <mat-error class="error-required" *ngIf="firstName.touched && firstName.invalid && firstName.errors?.required">
                            First Name is <strong>required</strong>
                        </mat-error >
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Card Identity</mat-label>
                        <input  [(ngModel)]="data.staff.cardIdentity" #cardIdentity ="ngModel" matInput type="text" required>
                        <mat-error class="error-required" *ngIf="cardIdentity.touched && cardIdentity.invalid && cardIdentity.errors?.required">
                        Card Identity is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Phone </mat-label>
                        <input [(ngModel)]="data.staff.phone" #phone ="ngModel" matInput type="text" >
                        <mat-error class="error-required" *ngIf="phone.touched && phone.invalid && phone.errors?.required">
                        Phone is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field >
                        <input [(ngModel)]="data.staff.dateOfBirth" #dateOfBirth="ngModel"  matInput [matDatepicker]="startDate" placeholder="Date of Birth" [value]="data.staff.dateOfBirth">
                        <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
                        <mat-datepicker #dateOfBirth ></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field>
                        <mat-label>Role</mat-label>
                        <mat-select [ngModel]="data.staff.typeStaff" #typeStaff="ngModel" name="data.staff.typeStaff" required>
                            <mat-option value="1">Admin</mat-option>
                            <mat-option value="2">Employee</mat-option>
                            <mat-option value="3">Shipper</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
            <div *ngIf="this.data.typeform === 0" style="font-weight: bold; font-style: italic;"> *Note: Password default is Card Identity of staff</div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial class="btn btn-cancel">Cancel</button> &nbsp;
    <button mat-button (click)="save()" class="btn btn-add">Save</button>
</mat-dialog-actions>