<section class="hero-section">
    <div class="hero-items owl-carousel">
        <div class="single-hero-items set-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 btn-shop-now">
                         <button [routerLink]="['/products']" class="primary-btn-custom">Shop Now!!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="banner-section spad">
    <div class="container-fluid">
        <div class="row category-menu">
            <div class="col-lg-2" *ngFor="let category of categoriesStore.categories$ | async">
                <img src="assets/category.png" alt="">
                    <div class="inner-text">
                        <h6>{{ category.name }} </h6>
                    </div>
            </div>
        </div>
    </div>
</div>

<!-- Women Banner Section Begin -->
<section class="women-banner spad" *ngIf="productTopBestSellers.length > 0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="product-large set-poster1"></div>
            </div>
            <div class="col-lg-8 offset-lg-1">
                <div class="filter-control">
                    BEST SELLER
                </div>
                <div class="product-slider owl-carousel1">
                    <div class="product-item" *ngFor="let product of productTopBestSellers">
                        <div [routerLink]="['/product-detail', product.id]">
                            <div class="pi-pic">
                                <img src="assets/product.jpg" alt="">
                                <ul>
                                    <li class="quick-view"><a href="#">ADD TO CART</a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">{{ product.category }}</div>
                                <a href="#">
                                    <h5>{{ product.name }}</h5>
                                </a>
                                <div class="product-price">
                                    {{ product.unitPrice | currency: 'VND' }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Women Banner Section End -->
<section class="women-banner spad" *ngIf="productTopNew.length > 0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="filter-control">
                    NEW PRODUCT
                </div>
                <div class="product-slider owl-carousel1">
                    <div class="product-item" *ngFor="let product of productTopNew">
                        <div [routerLink]="['/product-detail', product.id]">
                            <div class="pi-pic">
                                <img src="assets/product.jpg" alt="">
                                <ul>
                                    <li class="quick-view"><a href="#">ADD TO CART</a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">{{ product.category }}</div>
                                <a href="#">
                                    <h5>{{ product.name }}</h5>
                                </a>
                                <div class="product-price">
                                    {{ product.unitPrice | currency: 'VND' }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  offset-lg-1">
                <div class="product-large set-poster2"></div>
            </div>
        </div>
    </div>
</section>