<div class="container">
    <!-- <div class="about-section">
        <h1>About Us</h1>
        <p>The website is our product to sale, manager store, product clothes</p>
        <p>Resize the browser window to see that this page is responsive by the way.</p>
      </div> -->
      
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="../../../../../assets/giang.jpg" alt="Giang" style="width:100%">
            <div class="container">
              <h2>Giang Vo Hong Tien</h2>
              <p class="title">Developer</p>
              <p>18110276@student.hcmute.edu.vn</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <div class="img">
                <img src="../../../../../assets/thao.jpg" alt="Thao" style="width:100%">
            </div>
            <div class="container">
              <h2>Thao Nguyen Thi</h2>
              <p class="title">Developer</p>
              <p>18110367@student.hcmute.edu.vn</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
