<div class="container">
    <form #formShopInfo="ngForm" (ngSubmit)="UpdateShopInfo(formShopInfo)" >
        <fieldset class="fieldset">
            <h4 class="fieldset-title">MANGO CLOTHES</h4>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-10 col-sm-9 col-xs-12 control-label">Email <strong class="required">*</strong></label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <input type="text" name="email" #email="ngModel" matInput [(ngModel)]="shopinfo.email" class="form-control" required>
                            <mat-error *ngIf="email?.touched && email?.invalid && email?.errors?.required">
                                Email field is required
                            </mat-error>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-10 col-sm-9 col-xs-12 col-xs-12 control-label">Establishment<strong class="required">*</strong></label>
                            <div class="col-md-10 col-sm-9 col-xs-12 dob">
                                <input class="form-control" [(ngModel)]="shopinfo.dateCreate" name="dateCreate" #datecreate="ngModel" matInput [matDatepicker]="dateCreate" [value]="shopinfo.dateCreate">
                                <mat-datepicker-toggle class="p-viewer" matSuffix [for]="dateCreate"></mat-datepicker-toggle>
                                <mat-datepicker #dateCreate ></mat-datepicker>
                            </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-2 col-sm-3 col-xs-12 control-label">Phone<strong class="required">*</strong></label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <input type="text" name="phone" #phone="ngModel" matInput [(ngModel)]="shopinfo.phone" class="form-control" required>
                            <mat-error *ngIf="phone?.touched && phone?.invalid && phone?.errors?.required" >
                                Phone field is required
                            </mat-error>
                        </div>
                    </div>
                </div>
            </div>     
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-2 col-sm-3 col-xs-12 control-label">Address<strong class="required">*</strong></label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <input type="text" name="address" #address="ngModel" matInput [(ngModel)]="shopinfo.address" class="form-control" required>
                            <mat-error *ngIf="address?.touched && address?.invalid && address?.errors?.required" >
                                Address field is required
                            </mat-error>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-2 col-sm-3 col-xs-12 control-label">District<strong class="required">*</strong></label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <input type="text" name="district" #district="ngModel" matInput [(ngModel)]="shopinfo.district" class="form-control" required>
                            <mat-error *ngIf="district?.touched && district?.invalid && district?.errors?.required" >
                                District field is required
                            </mat-error>
                        </div>
                    </div>
                </div>
            </div>     
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-2 col-sm-3 col-xs-12 control-label">Wards<strong class="required">*</strong></label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <input type="text" name="wards" #wards="ngModel" matInput [(ngModel)]="shopinfo.wards" class="form-control" required>
                            <mat-error *ngIf="wards?.touched && wards?.invalid && wards?.errors?.required">
                                Wards field is required
                            </mat-error>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-md-2 col-sm-3 col-xs-12 control-label">Province<strong class="required">*</strong></label>
                        <div class="col-md-10 col-sm-9 col-xs-12">
                            <input type="text" name="province" #province="ngModel" matInput [(ngModel)]="shopinfo.province" class="form-control" required>
                            <mat-error *ngIf="province?.touched && province?.invalid && province?.errors?.required">
                                Province field is required
                            </mat-error>
                        </div>
                    </div>
                </div>
            </div>     
        </fieldset>
        <hr>
        <div class="form-group">
            <div >
                <input class="btn btn-primary" type="submit" value="Update Information">
            </div>
        </div>
    </form>
</div>