<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="register-form">
                    <h2>Forgot Your Password</h2>
                    <form [formGroup]="form" (ngSubmit)="resetPassword(form)">
                        <div class="group-input">
                            <label for="pass">Password Reset Code <strong class="required">*</strong></label>
                            <div class="pwd">
                                <input #resetCode formControlName="resetCode">
                            </div>
                            <mat-error
                                *ngIf="form.get('resetCode')?.touched && form.get('resetCode').errors?.required">
                                Reset password code is required
                            </mat-error>
                        </div>
                        <div class="group-input">
                            <label for="pass">New Password <strong class="required">*</strong></label>
                            <div class="pwd">
                                <input #password [type]="passwordVisibility ? 'text' : 'password'" formControlName="password" (input)="matchPassword($event.target.value, confirmPassword.value)">
                                <span class="p-viewer"><fa (click)="passwordVisibility = !passwordVisibility" [name]="passwordVisibility ? 'eye' : 'eye-slash'"></fa></span>
                            </div>
                            <mat-error
                                *ngIf="form.get('password')?.touched && form.get('password').errors?.invalidPassword">
                                {{ form.get('password').errors?.invalidPassword.message }}
                            </mat-error>
                        </div>
                        <div class="group-input">
                            <label for="con-pass">Confirm Password <strong class="required">*</strong></label>
                            <div class="pwd">
                                <input #confirmPassword [type]="confirmPasswordVisibility ? 'text' : 'password'" formControlName="confirmPassword"
                                (input)="matchPassword(password.value, $event.target.value)">
                                <span class="p-viewer"><fa (click)="confirmPasswordVisibility = !confirmPassworddVisibility" [name]="confirmPasswordVisibility ? 'eye' : 'eye-slash'"></fa></span>
                            </div>
                            <mat-error *ngIf="form.get('confirmPassword')?.touched 
                                && form.get('confirmPassword')?.invalid
                                && form.get('confirmPassword').errors?.required">
                                Confirm password is required
                            </mat-error>
                            <mat-error *ngIf="!form.get('confirmPassword').errors?.required && !isMatchPassword">
                                Password and Confirm password must be matched
                            </mat-error>
                        </div>
                        <button type="submit" class="site-btn register-btn">RESET</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>