<h2  mat-dialog-title>Detail Staff <strong># {{ data.staff.idAccount }}</strong></h2>
<mat-dialog-content class="mat-typography">
<div class="container" >
    <div class="row detail-center">       
        <div class="col-lg-5">
            <div class="form-group avatar">
                <img *ngIf="data.staff.image == null" class="img-responsive image-staff" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                <img *ngIf="data.staff.image != null" class="img-responsive image-staff" [src]="data.staff.image" alt="">
            </div>
        </div>
        <div class="col-lg-7">    
            <div class="row">
                <div class="col-md-4 title-item">
                    Email:
                </div>
                <div *ngIf="data.account.email" class="col-md-8">
                    {{ data.account.email }}
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 title-item">
                   Full Name:
                </div>
                <div *ngIf="data.staff.firstName" class="col-md-8">
                    {{  data.staff.lastName }} {{ data.staff.firstName }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 title-item">
                    Day Of Birth:
                </div>
                <div *ngIf="data.staff.dateOfBirth" class="col-md-8">
                    {{ data.staff.dateOfBirth | date: 'longDate'}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 title-item">
                    Card Identify:
                </div>
                <div *ngIf="data.staff.cardIdentity" class="col-md-8">
                    {{ data.staff.cardIdentity}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 title-item">
                   Phone:
                </div>
                <div *ngIf="data.staff.phone" class="col-md-8">
                    {{ data.staff.phone }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 title-item">
                    Type Staff:
                </div>
                <div *ngIf="data.account.idTypeAccount ==1" class="col-md-8">
                   Admin
                </div>
                <div *ngIf="data.account.idTypeAccount ==2" class="col-md-8">
                    Employee
                 </div>
                 <div *ngIf="data.account.idTypeAccount ==3" class="col-md-8">
                    Shipper
                 </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="listImages?.length > 0" class="row image-list">
        <div class="col-md-3 text-center" *ngFor="let image of listImages">
            <!-- <img src="../../../../../assets/product.jpg"> -->
            <img src="{{ image.url }}">
            <div>
                <button class="btn btn-sm btn-danger"><fa name="trash"></fa></button>
            </div>
        </div>
    </div>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial class="btn btn-cancel">Exit</button> &nbsp;
</mat-dialog-actions>
