<h2 *ngIf="this.data.typeform === 0" mat-dialog-title>Add Product</h2>
<h2 *ngIf="this.data.typeform === 1" mat-dialog-title>Edit Product <strong>#{{ data.product.id }}</strong></h2>
<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-6">
            <mat-form-field appearance="fill">
                <mat-label>SKU</mat-label>
                <input [(ngModel)]="data.product.sku" #sku="ngModel" matInput type="text" required>
                <mat-error class="error-required" *ngIf="sku.touched && sku.invalid && sku.errors?.required">
                    SKU is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input [(ngModel)]="data.product.name" #name="ngModel" matInput type="text" required>
                <mat-error class="error-required" *ngIf="name.touched && name.invalid && name.errors?.required">
                    A product name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <mat-form-field appearance="fill">
                <mat-label>Unit Price</mat-label>
                <input [(ngModel)]="data.product.unitPrice" #unitPrice="ngModel" matInput type="number" required>
                <mat-error class="error-required"
                    *ngIf="unitPrice.touched && unitPrice.invalid && unitPrice.errors?.required">
                    Product price is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field appearance="fill">
                <mat-label>Category</mat-label>
                <mat-select [(ngModel)]="data.product.idCategory" [compareWith]="compareCategory"
                    #selectCategory="ngModel" name="category" required>
                    <mat-option (click)="selectedCategory(category)"
                        *ngFor="let category of categoriesStore.categories$ | async" [value]="category.id">
                        {{ category.name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="selectCategory.touched && selectCategory?.errors?.required">
                    Please select at least one category
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea [(ngModel)]="data.product.description" matInput></textarea>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial class="btn btn-cancel">Cancel</button> &nbsp;
    <button mat-button (click)="save()" class="btn btn-add">Save</button>
</mat-dialog-actions>