<h2 mat-dialog-title>Confirmation</h2>
<mat-dialog-content class="mat-typography">
    <div class="confirm-delete"> {{ confirmtext }} <strong *ngIf="data.id">#{{ data?.id }}</strong>?</div>
    <div class="bold-text">{{ data?.remindtext }} </div>
    <div class="html-data" [innerHtml] = 'data?.innerHtml'></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button *ngIf="!data?.buttonOk" mat-button mat-dialog-close class="btn btn-cancel">No</button> &nbsp;
    <button mat-button (click)="yes()" class="btn btn-danger">Yes</button>
</mat-dialog-actions>