<section class="product-shop spad">
    <div class="container">
        <div class="row inner-header center custome-search-client">
            <div class="col-6">
                <div class="advanced-search">
                    <div class="input-group">
                        <input [(ngModel)]="search" #searchInput type="text" placeholder="What do you need?">
                        <button type="button" (click)="searchEvent(searchInput.value)">
                            <fa name="search"></fa>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-1">
                <button name="btn btn-secondary" type="button" class="btn btn-reset" (click)="reloadProduct()">
                    <fa name="refresh"></fa>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                <div class="filter-widget">
                    <h4 class="fw-title">Categories</h4>
                    <ul class="filter-catagories">
                        <li *ngFor="let category of categoriesStore.categories$ | async">
                            <button class="btn" (click)="getProductByCategory(category)">{{ category.name }}</button>
                        </li>
                    </ul>
                </div>
                <div class="filter-widget">
                    <h4 class="fw-title">Price</h4>
                    <div class="filter-range-wrap">
                        <div class="range-slider">
                            <div class="price-input">
                                <input type="text" id="minamount" [(ngModel)]="minPrice">
                                <input type="text" id="maxamount" [(ngModel)]="maxPrice">
                            </div>
                        </div>
                    </div>
                    <button class="btn filter-btn" (click)="filterPrice()">Filter</button>
                </div>
            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="product-show-option">
                    <div class="row">
                        <div class="col-lg-5 col-md-5">
                            <mat-form-field>
                                <mat-label>Sort</mat-label>
                                <mat-select [(ngModel)]="sortSelected" name="sort">
                                    <mat-option value="name:asc" (click)="sort()">
                                        Name ASC <fa name="sort-alpha-asc"></fa>
                                    </mat-option>
                                    <mat-option #namedesc value="name:desc" (click)="sort()">
                                        Name DESC<fa name="sort-alpha-desc"></fa>
                                    </mat-option>
                                    <mat-option #bestsellers value="totalbuy:desc" (click)="sort()">
                                        Best Sellers
                                    </mat-option>
                                    <mat-option #new value="createddate:desc" (click)="sort()">
                                        New
                                    </mat-option>
                                    <mat-option #sale value="idPromotion:desc" (click)="sort()">
                                        Sale
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- <div class="col-lg-7 col-md-7 text-right">
                            <mat-paginator #paginator [length]="productsStore.totalData" [(pageSize)]="filter.pagesize"
                                (page)="onPaginate($event)" showFirstLastButtons>
                            </mat-paginator>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-md-7">
                            <mat-chip-list #chipList aria-label="Fruit selection">
                                <mat-chip *ngFor="let category of categoriesOptions" [selectable]="selectable"
                                    [removable]="removable" (removed)="remove(category)">
                                    {{ category.name }}
                                    <button matChipRemove *ngIf="removable"
                                        style="border: none; background: transparent;">
                                        <fa name="times-circle"></fa>
                                    </button>
                                </mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>
                </div>
                <div class="product-list">
                    <div infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"
                        (scrolled)="onScrollDown()">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6" *ngFor="let product of productsStore.productsList$ | async">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img class="image image-product" [routerLink]="['/product-detail', product.id]"
                                            [src]="product.imageUrl">
                                        <ul>
                                            <li (click)="addToCart(product)" class="quick-view"><a>ADD TO CART</a></li>
                                            &nbsp;
                                            <li class="background-heart-item" *ngIf="!product.isFavorite"><button
                                                    class="btn-heart-background"><i (click)="changeHeart(product, 0)"
                                                        class="fa fa-heart-o heart-icon"
                                                        aria-hidden="true"></i></button></li>
                                            <li class="background-heart-item" *ngIf="product.isFavorite"><button
                                                    class="btn-heart-background"><i (click)="changeHeart(product, 1)"
                                                        class="fa fa-heart heart-icon" aria-hidden="true"></i></button>
                                            </li>
                                        </ul>
                                        <div *ngIf="product.idPromotion" class="ribbon-wrapper">
                                            <div class="ribbon">Sale Off</div>
                                        </div>
                                    </div>
                                    <div [routerLink]="['/product-detail', product.id]" class="pi-text">
                                        <div class="catagory-name">{{product.category}}</div>
                                        <a href="#">
                                            <h5>{{ product.name }}</h5>
                                        </a>
                                        <div class="product-price">
                                            {{ product.pricePromotion | currency: 'VND' }}
                                            <span *ngIf="product.idPromotion">{{ product.unitPrice | currency:
                                                'VND'}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="text-align: center;">
                                <img *ngIf="productsStore.productsList$.length == 0" class="image"
                                    src="assets/img/common/no-products-found.gif">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>