.custome-search-client {
    padding-bottom: 30px;
}

.div-reset {
    display: flex;
    justify-content: flex-end;
    padding: 2px;
    padding-right: 30px;
  }

  .ribbon-wrapper {
	width: 85px;
	height: 88px;
	overflow: hidden;
	position: absolute;
	top: -3px;
	left: -3px;
}
	.ribbon {
	  font: bold 15px sans-serif;
	  color: #333;
	  text-align: center;
	  -webkit-transform: rotate(-45deg);
	  -moz-transform:    rotate(-45deg);
	  -ms-transform:     rotate(-45deg);
	  -o-transform:      rotate(-45deg);
	  position: relative;
	  padding: 7px 0;
	  top: 15px;
	  left: -30px;
	  width: 120px;
	  background-color: #ff0004;
	  color: #fff;
	}

	.img-heart-2 {
		width: 58px;
		height: 58px;
	  }

	
  
  