<h2 *ngIf="this.data.typeform === 0" mat-dialog-title>Add Delivery Address</h2>
<h2 *ngIf="this.data.typeform === 1" mat-dialog-title>Edit Delivery Address <strong>#{{ data.deliveryaddress.id }}</strong></h2>
<mat-dialog-content class="mat-typography">
    <div class="row">     
        <div class="col-6">
            <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input [(ngModel)]="data.deliveryaddress.firstName" #firstName="ngModel" matInput type="text" required>
                <mat-error class="error-required"
                    *ngIf="firstName.touched && firstName.invalid && firstName.errors?.required">
                    First Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field appearance="fill">
                <mat-label>Last Name</mat-label>
                <input [(ngModel)]="data.deliveryaddress.lastName" #lastName ="ngModel" matInput type="text">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-form-field appearance="fill">
                <mat-label>Address:</mat-label>
                <input [(ngModel)]="data.deliveryaddress.address" #address ="ngModel" matInput type="text" required>
                <mat-error class="error-required" *ngIf="address.touched && address.invalid && address.errors?.required">
                    Address is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
   
    <div class="row">
        <div class="col-6">
            <mat-form-field appearance="fill">
                <mat-label>Wards</mat-label>
                <input [(ngModel)]="data.deliveryaddress.wards" #wards="ngModel" matInput type="text" required>
                <mat-error class="error-required"
                    *ngIf="wards.touched && wards.invalid && wards.errors?.required">
                    Wards is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field appearance="fill">
                <mat-label>District</mat-label>
                <input [(ngModel)]="data.deliveryaddress.district" #district="ngModel" matInput type="text" required>
                <mat-error class="error-required"
                    *ngIf="district.touched && district.invalid && district.errors?.required">
                    District is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-form-field appearance="fill">
                <mat-label>Province:</mat-label>
                <input [(ngModel)]="data.deliveryaddress.province" #province ="ngModel" matInput type="text" required>
                <mat-error class="error-required" *ngIf="province.touched && province.invalid && province.errors?.required">
                    Province is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-form-field appearance="fill">
                <mat-label>Phone:</mat-label>
                <input [(ngModel)]="data.deliveryaddress.phone" #phone ="ngModel" matInput type="text" required>
                <mat-error class="error-required" *ngIf="phone.touched && phone.invalid && phone.errors?.required">
                    Phone is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
   
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial class="btn btn-cancel">Cancel</button> &nbsp;
    <button mat-button (click)="save()" class="btn btn-add">Save</button>
</mat-dialog-actions>