<div class="searchFilter searchFilter-center">
    <div class="input-group">
        <input id="table_filter" 
            [(ngModel)]="search" 
            #searchInput 
            type="text" 
            class="form-control input-search"> &nbsp;
        <div class="input-group-btn">
            <button name="searchBtn" 
                type="button" 
                class="btn btn-secondary btn-search"
                (click)="searchProduct(searchInput.value)">
                <fa class="icon-size" name="search"></fa>
                <span class="label-icon">
                    &nbsp; Search
                </span>
            </button> &nbsp;
            <span *ngIf="!isAdvance" (click)="searchFilter()">
                <fa class="icon-size" name="chevron-circle-down"></fa>
            </span>
            <span *ngIf="isAdvance" (click)="searchFilter()">
                <fa class="icon-size" name="chevron-circle-up"></fa>
            </span>
        </div>
    </div>
</div>
<div class="card card-center" *ngIf="this.isAdvance">
    <div class="row">
        <div class="form-group col-md-3">
            <mat-form-field>
                <mat-label>Categories</mat-label>
                <mat-select [(ngModel)]="categories" #selectCategory name="categories" multiple>
                    <mat-select-trigger>
                        {{ categories ? categories[0]?.name : '' }}
                        <span *ngIf="categories.length > 1 && !isAllCategories" 
                            class="example-additional-selection">
                            (+{{ categories.length - 1}} {{categories.length === 2 ? 'other' : 'others'}})
                        </span>
                    </mat-select-trigger>
                    <mat-option [value]="{id: 0, name: 'All'}" (click)="selectedAllCategories()">All</mat-option>
                    <mat-option (click)="selectedCategories(categories)"
                        *ngFor="let category of categoriesStore.categories$ | async" [value]="category">
                        {{category.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- <!-- <div class="form-group col-md-3">
            <mat-form-field>
                <mat-label>Min Price (đ)</mat-label>
                <input matInput type="number" min="0" [(ngModel)]="minPrice" (change)="checkMinPrice()">
            </mat-form-field>
        </div> -->
        <!-- <div class="form-group col-md-3">
            <mat-form-field>
                <mat-label>State</mat-label>
                <mat-select [(ngModel)]="actions" #selectCategory name="actions" multiple>
                    <mat-select-trigger>
                        {{ actions ? actions[0]?.name : '' }}
                        <span *ngIf="actions.length > 1 && !isAllCategories" 
                            class="example-additional-selection">
                            (+{{ actions.length - 1}} {{actions.length === 2 ? 'other' : 'others'}})
                        </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let action of actions" [value]="action">{{action}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>  -->
    </div>
    <div class="row inline">
        <div class="div-reset">
            <button name="resetBtn" type="button" class="btn btn-reset" (click)="reset()">
                <fa name="refresh"></fa>
            </button>
        </div>
    </div>
</div>