<div class="container">
    <div class="row">
      <!-- Search -->
      <div class="searchFilter searchFilter-center">
        <div class="input-group">
            <input id="table_filter" 
                [(ngModel)]="search" 
                #searchInput 
                type="text" 
                class="form-control input-search"> &nbsp;
            <div class="input-group-btn">
                <button name="searchBtn" 
                    type="button" 
                    class="btn btn-secondary btn-search"
                    (click)="searchEvent(searchInput.value)">
                    <fa class="icon-size" name="search"></fa>
                    <span class="label-icon">
                        &nbsp; Search
                    </span>
                </button>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
  
      <div class="button-add">
        <button 
        mat-raised-button 
        (click)="reloadOrder()"
        class="btn btn-secondary">Reload</button>
        &nbsp;
      </div>
          
      <table id="producttable" class="table table-striped table-hover table-sm ">
        <thead class="dt-header">
          <tr>
            <th> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </th>
            <th (click)="sortID()">ID
              <fa *ngIf="filter.sort == null" name="sort-down"></fa>
              <fa *ngIf="filter.sort == 'id:asc'" name="sort-up"></fa>
            </th>
            <th (click)="sortDateOrders()">Date Order
              <fa *ngIf="filter.sort == 'dateorder:desc'" name="sort-down"></fa>
              <fa *ngIf="filter.sort == 'dateorder:asc'" name="sort-up"></fa>
            </th>
          <th (click)="sortDateOrders()">Date Payment
              <fa *ngIf="filter.sort == 'dateorder:desc'" name="sort-down"></fa>
              <fa *ngIf="filter.sort == 'dateorder:asc'" name="sort-up"></fa>
            </th>
          <th (click)="sortDateOrders()">Date Ship
              <fa *ngIf="filter.sort == 'dateorder:desc'" name="sort-down"></fa>
              <fa *ngIf="filter.sort == 'dateorder:asc'" name="sort-up"></fa>
            </th>
          <th (click)="sortTotalQuantity()">Shipper
              <fa *ngIf="filter.sort == 'totalquantity:desc'" name="sort-down"></fa>
              <fa *ngIf="filter.sort == 'totalquantity:asc'" name="sort-up"></fa>
            </th>
          <th (click)="sortTotalAmount()">Customer
              <fa *ngIf="filter.sort == 'totalamount:desc'" name="sort-down"></fa>
              <fa *ngIf="filter.sort == 'totalamount:asc'" name="sort-up"></fa>
            </th>
            <th colspan="2">Action</th>
          </tr>
        </thead>
        <tbody class="table-body" *ngIf="ordersDeliveryStore.totalData > 0">
          <tr *ngFor="let order of ordersDeliveryStore.orders$ | async; index as i">
            <td>{{ i+1 }}</td>
            <td><a [routerLink]="['/admin/orders-delivery/', order.id]">{{ order.id }}</a></td>
            <td><a>{{ order.dateOrder |  date: 'dd/MM/yyyy' }}</a></td>
            <td><a>{{ order.datePayment |  date: 'dd/MM/yyyy' }}</a></td>
            <td><a>{{ order.dateShip |  date: 'dd/MM/yyyy' }}</a></td>
            <td><a>{{ order.idShipper }}-{{ order.staff }}</a></td>
            <td>{{ order.idCustomer }}-{{ order.customer }}</td>
            <td [routerLink]="['/admin/orders-delivery/', order.id]" type="button" class="btn btn-info button-action">View Detail</td>&nbsp;&nbsp;
            <td type="button" class="btn btn-success button-action" (click)="completeOrder(order.id)">Complete</td>&nbsp;&nbsp;
            <td type="button" class="btn btn-warning button-action" (click)="returnOrder(order.id)">Return Refund</td>
          </tr>
        </tbody>
        <tbody *ngIf="ordersDeliveryStore.totalData == 0">
          <tr>
            <td class="no-data" colspan="6">No data available in table</td>
          </tr>
        </tbody>
      </table>
      
    </div>
    <div class="pb-0 pt-3 paging-custom">
      <mat-paginator #paginator
        [length]="ordersDeliveryStore.totalData"
        [(pageSize)]="filter.pagesize"
        [pageSizeOptions]="[5, 10, 15]"
        (page)="onPaginate($event)"
        showFirstLastButtons>
      </mat-paginator>
    </div>
</div>

