<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="login-form">
                    <h2>Login</h2>
                    <form #form="ngForm" (ngSubmit)="login(form)">
                        <div class="group-input">
                            <label for="username">Email address</label>
                            <input [(ngModel)]="email" name="email" type="text" required>
                            <mat-error *ngIf="email?.touched && email?.invalid && email?.errors?.required">
                                Email is required
                            </mat-error>
                        </div>
                        <div class="group-input">
                            <label for="pass">Password</label>
                            <input ngModel name="password" [type]="passwordVisibility ? 'text' : 'password'" #password="ngModel" >
                            <fa (click)="passwordVisibility = !passwordVisibility" [name]="passwordVisibility ? 'eye' : 'eye-slash'"></fa>
                            <mat-error class="alert alert-danger" *ngIf="password?.touched && password?.invalid && password?.errors?.required">
                                Password is required
                            </mat-error>
                        </div>
                        <div class="group-input gi-check">
                            <div class="gi-more">
                                <a href="#" class="forget-pass">Forget your Password</a>
                            </div>
                        </div>
                        <button type="submit" class="site-btn login-btn">Sign In</button>
                    </form>
                    <div class="switch-login">
                        <a [routerLink]="['/register']" class="or-login">Or Create An Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>