 <!-- Sidebar -->
 <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Mango Clothes</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li (click)="clickDashboard()" 
        [ngClass]="{ 'active': isDashboardActive }" 
        [routerLink]="['admin']"
        class="nav-item nav-color">
        <a class="nav-link">
            <fa name="tachometer"></fa>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Manage
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li [ngClass]="{ 'active': isProductShow }" class="nav-item nav-color">
        <a (click)="clickProductsNavItem()" class="nav-link collapsed" >
            <fa name="cubes"></fa>
            <span>Products</span>
        </a>
        <div [ngClass]="{ 'show': isProductShow }" id="collapseTwo" class="collapse">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Products:</h6>
                <a class="collapse-item" 
                    (click)="clickProductsList()"  
                    [ngClass]="{ 'active': isProductsListActive }"
                    [routerLink]="['/admin/products']">Products List</a>
                <h6 class="collapse-header">Categories:</h6>
                <a class="collapse-item"
                    (click)="clickCategoriesList()"
                    [ngClass]="{ 'active': isCategoriesListActive }" 
                    [routerLink]="['/admin/categories']" 
                    href="">List Categories</a>
            </div>
        </div>
    </li>

    <li [ngClass]="{ 'active': isAccountShow }" class="nav-item nav-color">
        <a (click)="clickAccountsNavItem()" class="nav-link collapsed" >
            <fa name="cubes"></fa>
            <span>Accounts</span>
        </a>
        <div [ngClass]="{ 'show': isAccountShow }" id="collapseThree" class="collapse">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Cutomers:</h6>
                <a class="collapse-item" 
                    (click)="clickCustomersList()"  
                    [ngClass]="{ 'active': isCustomerListActive }"
                    [routerLink]="['/admin/customers']"> List Customers</a>
                <h6 class="collapse-header">Staff:</h6>
                <a class="collapse-item"
                    (click)="clickStaffList()" 
                    [ngClass]="{ 'active': isStaffListActive }"
                    [routerLink]="['/admin/staff']" 
                    href="">List Staff</a>
            </div>
        </div>
    </li>

    <li [ngClass]="{ 'active': isOrdersListActive }" class="nav-item nav-color">
        <a (click)="clickOrdersNavItem()" class="nav-link collapsed" >
            <fa name="cubes"></fa>
            <span>Orders</span>
        </a>
        <div [ngClass]="{ 'show': isOrderShow }" id="collapseFour" class="collapse">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Orders:</h6>
                <a class="collapse-item" 
                    (click)="clickOrdersList()"  
                    [ngClass]="{ 'active': isOrdersListActive }"
                    [routerLink]="['/admin/products']"> List Orders</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item nav-color">
        <a class="nav-link collapsed" href="#" >
            <span>Utilities</span>
        </a>
        <div id="collapseUtilities" class="collapse">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item" href="utilities-color.html">Colors</a>
                <a class="collapse-item" href="utilities-border.html">Borders</a>
                <a class="collapse-item" href="utilities-animation.html">Animations</a>
                <a class="collapse-item" href="utilities-other.html">Other</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item nav-color">
        <a class="nav-link collapsed" href="#" >
            <fa name="folder"></fa>
            <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item" href="login.html">Login</a>
                <a class="collapse-item" href="register.html">Register</a>
                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item" href="404.html">404 Page</a>
                <a class="collapse-item" href="blank.html">Blank Page</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item nav-color">
        <a class="nav-link" href="charts.html">
            <span>Charts</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item nav-color">
        <a class="nav-link" href="tables.html">
            <span>Tables</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <!-- <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div> -->


</ul>
<!-- End of Sidebar -->