 <!-- Sidebar -->
 <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Mango Clothes</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li *ngIf="authService.getCurrentUser().idTypeAccount != 3" (click)="clickDashboard()" 
        [ngClass]="{ 'active': isDashboardActive }" 
        [routerLink]="['admin']"
        class="nav-item nav-color">
        <a class="nav-link">
            <fa name="tachometer"></fa>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr *ngIf="authService.getCurrentUser().idTypeAccount != 3" class="sidebar-divider">

    <!-- Heading -->
    <div *ngIf="authService.getCurrentUser().idTypeAccount != 3" class="sidebar-heading">
        Manage
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li *ngIf="authService.getCurrentUser().idTypeAccount != 3" [ngClass]="{ 'active': isProductShow }" class="nav-item nav-color">
        <a (click)="clickProductsNavItem()" class="nav-link collapsed" >
            <fa name="cubes"></fa>
            <span>Products</span>
        </a>
        <div [ngClass]="{ 'show': isProductShow }" id="collapseTwo" class="collapse">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Products:</h6>
                <a class="collapse-item" 
                    (click)="clickProductsList()"  
                    [ngClass]="{ 'active': isProductsListActive }"
                    [routerLink]="['/admin/products']">Products List</a>
                <h6 class="collapse-header">Categories:</h6>
                <a class="collapse-item"
                    (click)="clickCategoriesList()"
                    [ngClass]="{ 'active': isCategoriesListActive }" 
                    [routerLink]="['/admin/categories']" 
                    href="">Categories List</a>
            </div>
        </div>
    </li>

    <li *ngIf="authService.getCurrentUser().idTypeAccount != 3" [ngClass]="{ 'active': isAccountShow }" class="nav-item nav-color">
        <a (click)="clickAccountsNavItem()" class="nav-link collapsed" >
            <fa name="users"></fa>
            <span>Accounts</span>
        </a>
        <div [ngClass]="{ 'show': isAccountShow }" id="collapseThree" class="collapse">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Cutomers:</h6>
                <a class="collapse-item" 
                    (click)="clickCustomersList()"  
                    [ngClass]="{ 'active': isCustomerListActive }"
                    [routerLink]="['/admin/customers']">Customers List</a>
                <h6 *ngIf="authService.getCurrentUser().idTypeAccount == 1" class="collapse-header">Staff:</h6>
                <a *ngIf="authService.getCurrentUser().idTypeAccount == 1" class="collapse-item"
                    (click)="clickStaffList()" 
                    [ngClass]="{ 'active': isStaffListActive }"
                    [routerLink]="['/admin/staff']" 
                    href="">Staff List</a>
            </div>
        </div>
    </li>

    <li [ngClass]="{ 'active': isOrderShow }" class="nav-item nav-color">
        <a (click)="clickOrdersNavItem()" class="nav-link collapsed" >
            <fa name="tasks"></fa>
            <span>Orders</span>
        </a>
        <div [ngClass]="{ 'show': isOrderShow }" id="collapseThree" class="collapse">
            <div class="bg-white py-2 collapse-inner rounded">
                <a *ngIf="authService.getCurrentUser().idTypeAccount != 3" class="collapse-item" 
                    (click)="clickOrdersProcessList()"  
                    [ngClass]="{ 'active': isOrdersProcessActive }"
                    [routerLink]="['/admin/orders-processing']">Processing</a>
             
                <a class="collapse-item"
                    (click)="clickOrderApprovalList()" 
                    [ngClass]="{ 'active': isOrderApprovalActive }"
                    [routerLink]="['/admin/orders-approval']" 
                    href="">Approval</a>

                <a class="collapse-item"
                    (click)="clickOrdersDeliveryList()" 
                    [ngClass]="{ 'active': isOrdersDeliveryActive }"
                    [routerLink]="['/admin/orders-delivery']" 
                    href="">Delivery</a>   
                
                <a class="collapse-item"
                    (click)="clickOrdersCompletedList()" 
                    [ngClass]="{ 'active': isOrdersCompletedActive }"
                    [routerLink]="['/admin/orders-completed']" 
                    href="">Completed</a>
                
                <a *ngIf="authService.getCurrentUser().idTypeAccount != 3" class="collapse-item"
                    (click)="clickOrdersCancelledList()" 
                    [ngClass]="{ 'active': isOrdersCancelledActive }"
                    [routerLink]="['/admin/orders-cancelled']" 
                    href="">Cancelled</a>

                <a class="collapse-item"
                    (click)="clickOrdersReturnList()" 
                    [ngClass]="{ 'active': isOrdersReturnActive }"
                    [routerLink]="['/admin/orders-return']" 
                    href="">Return Refund</a>
            </div>
        </div>
    </li>

    <!-- <li (click)="clickOrdersList()" 
    [ngClass]="{ 'active': isOrdersListActive }" 
    [routerLink]="['/admin/orders']" 
    class="nav-item nav-color">
    <a class="nav-link">
        <fa name="tasks"></fa>
        <span>Orders</span></a>
    </li> -->

    <li *ngIf="authService.getCurrentUser().idTypeAccount != 3" (click)="clickPromotionsList()" 
    [ngClass]="{ 'active': isPromotionsListActive }" 
    [routerLink]="['/admin/promotions']" 
    class="nav-item nav-color">
    <a class="nav-link">
        <fa name="gift"></fa>
        <span>Promotions</span></a>
    </li>
</ul>
<!-- End of Sidebar -->