
<div class="container">
    <div class="row" class="shopping-cart spad">
        <div class="col-lg-12">
            <div class="cart-table">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th class="p-name">Orders</th>
                            <th>Date Order</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="ordersDeliveryStore.orders.length > 0">
                        <tr class="trow" *ngFor="let item of ordersDeliveryStore.orders$ | async; index as i">
                            <td>{{ i+1 }}</td>
                            <td >
                                <div class="row">
                                    <div class="col-12 stock">
                                        <h5 class="name-item">#{{ item.id }}</h5>
                                    </div>
                                </div>
                            </td>
                            <td> {{ item.dateOrder |  date: 'dd/MM/yyyy' }}</td>
                            <td >{{ item.totalQuantity }}</td>
                            <td>{{ item.totalAmount | currency: 'VND'}}</td>
                            <td><button (click)="viewDetailOrder(item.id)" type="button" class="btn btn-info button-action">Detail</button></td>&nbsp;&nbsp;
                        </tr>
                        <tr class="trow estimate">
                            <td colspan="7" class="stock">Estimated delivery date: 3-5 workdays</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="ordersDeliveryStore.orders.length == 0">
                        <tr>
                            <td colspan="7">You have not ordered the product yet</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
