<div class="nav-item">
    <div class="container nav-center">
        <div class="nav-depart">
            <div class="depart-btn">
                <i class="ti-menu"></i>
                <span>All categories</span>
                <ul class="depart-hover">
                    <li *ngFor="let category of categoriesStore.categories$ | async">
                        <a> {{ category.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="nav-menu mobile-menu">
            <ul>
                <li (click)="clickHomePage()" 
                    [ngClass]="{ 'active': isHomeActive }" 
                    [routerLink]="['']">
                    <a>Home</a>
                </li>
                <li (click)="clickProductsPage()" 
                    [ngClass]="{ 'active': isProductsActive }"
                    [routerLink]="['/products']">
                    <a>Products</a>
                </li>
                <li (click)="clickContactPage()" 
                   [ngClass]="{ 'active': isContactActive }"
                   [routerLink]="['/contact']">
                    <a>Contact</a>
                </li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
    </div>
</div>