<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="register-form">
                    <h2>Register</h2>
                    <form  (ngSubmit)="register(form)">
                        <div class="group-input">
                            <label for="username">Email address *</label>
                            <input type="text" ngModel name="email" #email="ngModel">
                        </div>
                        <div class="group-input">
                            <label for="username">Last Name</label>
                            <input type="text" ngModel name="lastName" #lastName="ngModel">
                        </div>
                        <div class="group-input">
                            <label for="username">First Name *</label>
                            <input type="text" ngModel name="firstName" #firstName="ngModel">
                        </div>
                        <div class="group-input">
                            <label for="pass">Password *</label>
                            <input type="password" ngModel name="password" #password="ngModel">
                        </div>
                        <div class="group-input">
                            <label for="con-pass">Confirm Password *</label>
                            <input type="password" ngModel name="confirmpassword" #password="ngModel">
                        </div>
                        <button type="submit" class="site-btn register-btn">REGISTER</button>
                    </form>
                    <div class="switch-login">
                        <a [routerLink]="['/login']" class="or-login">Or Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>