<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <fa name="bars"></fa>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item nav-color dropdown no-arrow getuser">
            <button (click)="clickUserInformation()" class="btn" id="userDropdown">
                <span class="mr-2 d-none d-lg-inline">{{ authService.getCurrentUser().firstNameUser }}</span>
        </button>
            <!-- Dropdown - User Information -->
            <div *ngIf="isUserInformation" class="dropdown-menu dropdown-menu-right shadow animated--grow-in show" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                    <fa class="mr-2 text-gray-400" name="user" size="sm"></fa>
                    Profile
                </a>
                <a class="dropdown-item" href="#">
                    <fa class="mr-2 text-gray-400" name="cogs" size="sm"></fa>
                    Settings
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">
                    <fa class="mr-2 text-gray-400" name="sign-out" size="sm"></fa>
                    Logout
                </a>
            </div>
        </li>

    </ul>

</nav>
<!-- End of Topbar -->